.navbar{
    top:0;
    width:100%;
    z-index:100;
}
.thumbnail{
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
}
.row{
    padding: 20px !important;
    padding-top: 5px !important;
    padding-bottom: 1px !important;
    overflow: hidden !important;
}
.col-sm-3{
    padding: 5px;
}
.car{
    width: 100%;
    height: 100%;
}
.login{
    color: blue;
    padding: 2px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.topcar{
    max-height: 130px;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
    overflow:auto;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/*Voor tablet*/
@media screen and (min-width: 768px) {
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .lenen_box{
        right: 0px;
        min-width: 350px;
    }
    .header {
        margin-bottom: 30px;
    }
    .jumbotron {
        border-bottom: 0;
    }
}
.product_picture{
    float: left;
}
.product_text{
    float: right;
    margin-top: 5px;
}
.ingelogd{
    padding: 10px;
    max-width: 500px;
    max-height: 150px;
    background-color: #F7F7F7;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    text-align: center;
    border-radius: 5px;
    border: solid lightgrey 2px;
}
.container1 {
    width: 100%;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
    overflow:auto;
}
.bedrijf{
    height: 100%;
}
@media screen and (max-width: 990px) {
    .bedrijf{
        display: none;
    }
}

